/*variables*/
$img : url("../images/img-logo.png") no-repeat;
$main1: #e26d5d;
$main2: #5d9fca;

body {
    background: url(../images/bg.jpg) no-repeat #182d40;
    background-size: 100% auto;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.img {
    background: $img;
    text-indent: -9999px
}

.font {
    font-family: "Just Another Hand", cursive;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

.arrow::after {
    content: "";
    background: $img 0 -727px;
    display: inline-block;
    width: 10px;
    height: 17px;
    margin-left: 10px;
}

header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: #fff;
    box-shadow: 0 -1px #0002;
    display: flex;
    justify-content: flex-end;
    z-index: 100;

    .title {
        position: absolute;
        top: 35px;
        left: 204px;
        width: 173px;
        height: 60px;
        background-position: 0 -453px
    }

    .emblem {
        top: -70px;
        left: 15px;
        position: absolute;
        width: 176px;
        height: 196px;
    }

    .menu_btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 46px;
        background: #67a6ce;
        border-left: 1px solid #3b87b7;
        box-shadow: inset 1px 0 #95afd3;
        display: none;
    }

    .menu_btn:hover {
        background: #79afd3;
    }

    .menu_btn::after {
        content: "";
        display: block;
        width: 26px;
        height: 3px;
        border-top: 9px double #fff;
        border-bottom: 3px solid #fff;
        margin: 15.5px 12px;
    }
}

//end:header

#gnb {
    font-size: 22px;
    line-height: 40px;

    ul {
        display: flex;
    }

    li {
        padding: 22px 11px 0;
        border-left: 1px solid #ddd;
    }

    a {
        color: #5e5e5e;
        transition: all .2s ease-in-out;
        border-bottom: 2px solid transparent;
    }

    a:hover {
        color: $main1;
        border-color: $main1;
    }

    a::before {
        color: $main1;
    }

    .sub {
        position: absolute;
        bottom: 110px;
        margin-left: -11px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-in-out;

        ul {
            display: block;
        }

        li {
            border: 0;
            background: #fff;
            padding: 7px 14px 3px;
            margin-bottom: 1px;
        }

        a {
            border: 0;
        }

        li:first-child {
            border-radius: 3px 3px 0 0;
        }
    }

    li:hover .sub {
        bottom: 130px;
        opacity: 1;
        visibility: visible;
    }
}

.counter {
    ul {
        counter-reset: menu; //menu라는 카운터를 생성함.
    }

    li {
        counter-increment: menu; //li태그마다 menu 카운터 1씩 증가
    }

    li a::before {
        content: '0' counter(menu)' ';
    }

    li li a::before {
        content: counters(menu, ".")' '
    }
}

//end:counter

.sns {

    ul {
        display: flex;
        padding: 28px 11px 11px;
        border-left: 1px solid #ccc;
        gap: 6px;
    }

    a {
        width: 24px;
        height: 24px;
    }

    .fb {
        background-position: 0 -609px;
    }

    .fb:hover {
        background-position: 0 -633px;
    }

    .tw {
        background-position: 0 -561px;
    }

    .tw:hover {
        background-position: 0 -585px;
    }

    .rss {
        background-position: 0 -513px;
    }

    .rss:hover {
        background-position: 0 -537px;
    }
}

#language {
    position: absolute;
    right: 0;
    bottom: 0;
    background: $main1;
    font: 14px/46px "Arial";
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 20px;
    color: #eea79e;
    border-radius: 2px 0 0;


    ul {
        display: flex;
    }

    li::after {
        content: "/";
        padding: 0 8px;
    }

    li:last-child::after {
        display: none;
    }

    a {
        color: #fff;
    }
}

#main_view {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .slide {
        display: flex;
    }

    .view {
        width: 100%;
        height: 100vh;
        background: no-repeat center center;
        background-size: cover;
        flex-shrink: 0;

        h3 {
            position: absolute;
            right: 0;
            bottom: 200px;
            color: #fff;
            font-size: 60px;
            background: #000a;
            transform: translate(100%);
            transition: all .3;
            padding: 12px 10px 4px;
        }

        a {
            position: absolute;
            right: 0;
            bottom: 150px;
            color: #fff;
            font-size: 26px;
            background: $main1;
            padding: 8px 6px 4px;
            transform: translate(100%);
            transition: all .3;
        }

        &.active {
            h3 {
                transform: translate(0);
                transition-delay: .3s;
            }

            a {
                transform: translate(0);
                transition-delay: .5s;
            }
        }
    }

    .view1 {
        background-image: url("../images/slide-1.jpg");
    }

    .view2 {
        background-image: url("../images/slide-2.jpg");
    }

    .view3 {
        background-image: url("../images/slide-3.jpg");
    }

    .pager {
        position: absolute;
        top: 70px;
        right: 20px;

        span {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #000c;
            margin-left: 4px;
            box-shadow: 0 1px 1px #fff4, 0 1px 1px #0008 inset;
            cursor: pointer;
        }

        .active::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $main1;
            margin: 3px;
        }
    }

    .btns {
        position: absolute;
        top: 20px;
        left: 6%;
        z-index: 1;
        display: none;

        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #000;
            transition: all .4;
            cursor: pointer;
        }

        a:hover {
            background: $main1;
        }

        a i {
            display: block;
            width: 10px;
            height: 17px;
            margin: 11.5px 15px;
        }

        .prev i {
            background-position: 0 -745px;
        }

        .next i {
            background-position: 0 -727px;
        }
    }
}

#notice {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px #0002;
    display: flex;

    h3 {
        padding: 0 11px;
        color: #fff;
        font-size: 22px;
        background: $main2;
        height: 46px;
        line-height: 46px;
    }

    ul {
        display: flex;
    }

    li {
        padding: 0 14px;
        border-right: 1px solid #ccc;
        flex-shrink: 0;
    }

    li a {
        font-family: "Arial";
        font-size: 14px;
        line-height: 20px;
        padding: 13px 0;
        color: #5e5e5e;
    }

    li a:hover {
        color: $main2;
    }

    li span {
        color: #bbb;
        padding-left: 5px;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        height: 46px;
        background: linear-gradient(90deg, transparent, white);
    }
}

#main_menu {
    display: none;

    a {
        background: $main1;
        color: #fff;
        font-size: 22px;
        display: block;
        padding: 16px 6% 12px;
        border-top: 1px solid #ea9488;
        border-bottom: 1px solid #da4632;
        transition: all .3s;
    }

    a:hover {
        background: #e47566;
    }

    .sub a {
        padding-left: 12%;
    }

    a::after {
        float: right;
    }

}

footer {
    display: none;
    font-family: "Arial";
    color: #fff;
    font-size: 3.5vW;
    line-height: 2em;
    text-align: center;
    padding: 22px 6%;
    background: url(../images/pattern3.png) #182d40;

    .sns {
        position: static;
        padding: 0 0 20px;
    }

    .sns ul {
        justify-content: center;
    }
}

@media (max-width:1200px) {
    .sns {
        position: absolute;
        bottom: 0;
        right: 220px;
    }

    .sns ul {
        border: 0;
    }
}

@media (max-width:1024px) {
    header {
        .title {
            left: 25px;
        }

        .emblem {
            display: none;
        }
    }
}

@media(max-width:768px) {
    #main_view {
        height: 350px;

        .view {
            height: 350px;
        }

        .view h3 {
            font-size: 32px;
            bottom: 60px;
        }

        .view a {
            bottom: 15px;
        }

        .view1 {
            background-image: url(../images/slide-1-640x360.jpg);
        }

        .view2 {
            background-image: url(../images/slide-2-640x360.jpg);
        }

        .view3 {
            background-image: url(../images/slide-3-640x360.jpg);
        }

        .pager {
            display: none;
        }

        .btns {
            display: block;
        }

    }

    #notice {
        position: relative;
        display: block;
        overflow: hidden;

        h3 {
            transform: rotate(-90deg) translateX(-100%);
            width: 100%;
            transform-origin: left top;
            text-align: right;
        }

        h3::after {
            display: none;
        }

        ul {
            display: block;
            margin-top: -46px;
        }

        li {
            margin-left: 46px;
            border-right: 0;
            border-bottom: 1px solid #ccc;
        }

        &::after {
            display: none;
        }
    }

    #main_menu {
        display: block;
    }

    footer {
        display: block;
    }

    header {
        position: relative;
        height: 120px;
        padding-top: 46px;
        box-shadow: 0 1px #0002;

        .title {
            width: 148px;
            height: 50px;
            background-position: 0 -657px;
            top: 81px;
            left: 6%;
        }

        .menu_btn {
            display: block;
        }

        .emblem {
            width: 132px;
            height: 145px;
            display: inline-block;
            top: 35px;
            left: auto;
            right: 6%;
            z-index: 1;
            background-position: 0 -196px;
        }

        #gnb {
            display: none;
        }

        .sns {
            display: none;
        }
    }

    #language {
        top: 0;
        left: 0;
        bottom: auto;
        padding: 0 0 0 6%;
        background: $main2;
        color: #95c1d6;
        border-radius: 0;
    }

}