/*variables*/
body {
  background: url(../images/bg.jpg) no-repeat #182d40;
  background-size: 100% auto;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.img {
  background: url("../images/img-logo.png") no-repeat;
  text-indent: -9999px;
}

.font {
  font-family: "Just Another Hand", cursive;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: #fff;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.1333333333);
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}
header .title {
  position: absolute;
  top: 35px;
  left: 204px;
  width: 173px;
  height: 60px;
  background-position: 0 -453px;
}
header .emblem {
  top: -70px;
  left: 15px;
  position: absolute;
  width: 176px;
  height: 196px;
}

#gnb {
  font-size: 22px;
  line-height: 40px;
}
#gnb ul {
  display: flex;
}
#gnb li {
  padding: 22px 11px 0;
  border-left: 1px solid #ddd;
}
#gnb a {
  color: #5e5e5e;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}
#gnb a:hover {
  color: #e26d5d;
  border-color: #e26d5d;
}
#gnb a::before {
  color: #e26d5d;
}
#gnb .sub {
  position: absolute;
  bottom: 110px;
  margin-left: -11px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
#gnb .sub ul {
  display: block;
}
#gnb .sub li {
  border: 0;
  background: #fff;
  padding: 7px 14px 3px;
  margin-bottom: 1px;
}
#gnb .sub a {
  border: 0;
}
#gnb .sub li:first-child {
  border-radius: 3px 3px 0 0;
}
#gnb li:hover .sub {
  bottom: 130px;
  opacity: 1;
  visibility: visible;
}

.counter ul {
  counter-reset: menu;
}
.counter li {
  counter-increment: menu;
}
.counter li a::before {
  content: "0" counter(menu) " ";
}
.counter li li a::before {
  content: counters(menu, ".") " ";
}

.sns ul {
  display: flex;
  padding: 28px 11px 11px;
  border-left: 1px solid #ccc;
  gap: 6px;
}
.sns a {
  width: 24px;
  height: 24px;
}
.sns .fb {
  background-position: 0 -609px;
}
.sns .fb:hover {
  background-position: 0 -633px;
}
.sns .tw {
  background-position: 0 -561px;
}
.sns .tw:hover {
  background-position: 0 -585px;
}
.sns .rss {
  background-position: 0 -513px;
}
.sns .rss:hover {
  background-position: 0 -537px;
}

#language {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #e26d5d;
  font: 14px/46px "Arial";
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 20px;
  color: #eea79e;
  border-radius: 2px 0 0;
}
#language ul {
  display: flex;
}
#language li::after {
  content: "/";
  padding: 0 8px;
}
#language li:last-child::after {
  display: none;
}
#language a {
  color: #fff;
}

#main_view {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#main_view .slide {
  display: flex;
}
#main_view .view {
  width: 100%;
  height: 100vh;
  background: no-repeat center center;
  background-size: cover;
  flex-shrink: 0;
}
#main_view .view1 {
  background-image: url("../images/slide-1.jpg");
}
#main_view .view2 {
  background-image: url("../images/slide-2.jpg");
}
#main_view .view3 {
  background-image: url("../images/slide-3.jpg");
}
#main_view .pager {
  position: absolute;
  top: 70px;
  right: 20px;
}
#main_view .pager span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  margin-left: 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2666666667), 0 1px 1px rgba(0, 0, 0, 0.5333333333) inset;
  cursor: pointer;
}
#main_view .pager .active::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e26d5d;
  margin: 3px;
}/*# sourceMappingURL=style.css.map */